.block-type {
  position: relative;
}

.block-type__label-accessories,
.block-type__label-toy {
  display: flex;
  width: 95%;
  cursor: pointer;
}

.block-type__title {
  width: max-content;
  margin: 0;
  color: #63d1bb;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.line {
  position: absolute;
  top: 8px;
  left: 50px;
  height: 1px;
  width: 80%;
  background-color: #63d1bb;
}

.block-type__label-accessories {
  margin-bottom: 14px;
}

.block-type__accessories,
.block-type__toy {
  // display: none;

  &:checked + .block-type__check > .block-type__check-ed {
    display: block;
  }
}

.block-type__check {
  flex-shrink: 0;
  height: 40px;
  width: 40px;
  margin-right: 24px;
  padding: 10px;
  border: 2px solid #444444;
  border-radius: 20px;
}

.block-type__check-ed {
  display: none;
  height: 100%;
  width: 100%;
  background-color: #62d1ba;
  border-radius: 8px;
}

.block-type__text-accessories {
  padding: 11px 0 0 0;
  box-sizing: border-box;
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}
