.contacts-content {
  padding: 0 30px;
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;

  &__header {
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
  }

  &__email-title {
    display: inline-block;
    width: max-content;
  }

  &__email {
    display: inline-block;
    width: max-content;

    text-decoration: none;
    color: #444444;
  }

  &__address-title {
    display: inline-block;
    width: max-content;
  }

  &__address {
    display: inline-block;
    width: max-content;
    font-style: normal;
  }
}
