.contacts-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;

  @media (min-width: $tablet) {
    padding: 0 50px;
    font-size: 17px;
  }

  @media (min-width: $desktop) {
    align-self: flex-start;
    order: 1;
    max-width: 475px;
    padding: 0 0 0 125px;
  }
}

.contacts-content__header {
  width: 100%;
  padding: 44px 0 42px 60px;
  margin: 0 0 0 -60px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  @media (min-width: $tablet) {
    background: url("../img/icon-flag.svg") no-repeat right center;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop) {
    background-position: left center;
  }
}

.contacts-content__email-title {
  width: 30%;

  @media (min-width: $tablet) {
    width: max-content;
    height: max-content;
    margin-right: 26px;
  }
}

.contacts-content__email {
  width: 70%;
  border-bottom: 1px solid #46c1ae;
  cursor: pointer;
  text-decoration: none;
  color: #444444;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: #46c1ae;
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    width: max-content;
    height: max-content;
  }
}

.contacts-content__address-title {
  width: 30%;

  @media (min-width: $tablet) {
    width: max-content;
    height: max-content;
    margin-right: 26px;
    margin-left: auto;
  }

  @media (min-width: $desktop) {
    margin-left: 0;
  }
}

.contacts-content__address {
  width: 70%;
  font-style: normal;

  @media (min-width: $tablet) {
    width: 230px;
    height: max-content;
    margin-right: 30px;
  }
}
