.contacts-map {
  position: relative;
  width: auto;
  height: 457px;
  margin: 42px auto 36px;

  @media (min-width: $desktop) {
    align-self: flex-end;
    order: 3;
    width: 525px;
    margin: 0;
  }
}

.contacts-map__pin {
  position: absolute;
  top: 20%;
  left: 51%;
}
