.copyright {
  width: 182px;
  margin: 0 auto;
}

.copyright__text {
  padding: 6px 0 8px 0;
  color: #000000;
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
}

.copyright__link {
  display: flex;
  justify-content: space-between;

  &:hover svg {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright svg {
  width: 26.943px;
  height: 34.09px;
  fill: #63d1bb;
}

@media (min-width: $tablet) {
  .copyright {
    margin: 0;
  }
}
