.featured {
  display: flex;
  flex-direction: column;
  position: relative;
  background: url("../img/bg-zigzag-line.svg") repeat-x bottom center;

  @media (max-width: $mobile) {
    padding: 34px 30px 36px 30px;
    background-size: auto 6px;
  }

  @media (min-width: $tablet) {
    padding: 43px 50px 59px 50px;
    flex-wrap: wrap;
    background-size: auto 17px;
  }

  @media (min-width: $desktop) {
    position: relative;
    background-size: auto 23px;
  }
}

.featured__header {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 1;
    height: max-content;
    width: 100%;
  }

  @media (min-width: $desktop) {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  @media (min-width: $desktop) {
    position: absolute;
    left: 96px;
    top: 60px;
    z-index: 2;
  }
}

.featured__title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;

  @media (min-width: $tablet) {
    font-size: 43px;
    line-height: 57px;
  }

  @media (min-width: $desktop) {
    margin-left: 50px;
    font-size: 53px;
    line-height: 57px;
  }
}

.featured__directory {
  color: #63d1bb;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    width: min-content;
    padding: 4px 0 5px 0;
    line-height: 20px;
  }
}

.featured__image {
  @media (max-width: $mobile) {
    width: 260px;
    height: 315px;
  }

  @media (min-width: $tablet) {
    width: 333px;
    height: 404px;
  }

  @media (min-width: $desktop) {
    width: 525px;
    height: 636px;
  }
}

.featured__picture {
  @media (max-width: $mobile) {
    width: 260px;
    height: 315px;
    align-self: center;
  }

  @media (min-width: $tablet) {
    align-self: flex-end;
    order: 5;
    width: 333px;
    height: 404px;
    position: absolute;
    top: 140px;
  }

  @media (min-width: $desktop) {
    width: 525px;
    height: 636px;
    top: 54px;
    left: 50%;
    z-index: 1;
  }
}

.featured__price {
  display: block;
  margin: 28px 0;
  text-align: center;
  color: #444444;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  @media (min-width: $tablet) {
    align-self: flex-start;
    order: 3;
    width: calc(50% - 43px);
    margin: 59px 0 34px 0;
  }

  @media (min-width: $desktop) {
    width: calc(50% - 50px - 175px);
    margin-left: 175px;
  }
}

.featured__btn {
  @media (min-width: $tablet) {
    align-self: flex-start;
    order: 4;
    width: calc(50% - 43px);
  }

  @media (min-width: $desktop) {
    width: calc(50% - 50px - 175px);
    margin-left: 175px;
  }
}
