.main-logo__image {
  width: 86px;
  height: 35px;
}

.main-logo[href] {
  &:hover .main-logo__image {
    opacity: 0.6;
  }

  &:active .main-logo__image {
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .main-logo__image {
    width: 113px;
    height: 46px;
  }
}

@media (min-width: $desktop) {
  .main-logo__image {
    width: 149px;
    height: 72px;
  }
}
