.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  /*overflow: auto;-*/
  background-color: rgba(254, 254, 254, 0.9);
}

.modal--show {
  display: block;
}

.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 30px 46px 30px;
  width: 100%;
  margin-top: calc((100vh - 336px) / 2);
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  border: 1px solid #c6c6c6;
}

.modal__title {
  width: 150px;
  color: #000000;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.modal__text {
  margin: 25px 0 28px;
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

.modal__form {
  width: 100%;
}

.modal__wrapper {
  display: flex;
  justify-content: space-between;
}

.modal__label {
  position: relative;
  display: block;
  width: 82px;
  height: 52px;
  text-align: center;
  color: #444444;
  font-size: 17px;
  font-weight: 700;
  line-height: 52px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 82px;
    height: 52px;
    border: 2px solid rgba(68, 68, 68, 0.1);
  }

  &:hover {
    cursor: pointer;

    &::before {
      border: 2px solid #62d1ba;
    }
  }
}

.modal__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked + .modal__label::before {
    border: 2px solid #62d1ba;
  }

  &:focus + .modal__label::before {
    border: 2px solid #62d1ba;
  }
}

.modal__btn {
  margin-top: 30px;
  border: none;
  background-color: #63d1bb;
  color: #ffffff;
}

@media (min-width: $tablet) {
  .modal__content {
    padding: 51px 108px 46px 108px;
    width: 566px;
    margin-left: auto;
    margin-right: auto;
  }

  .modal__title {
    width: 360px;
    font-size: 30px;
    font-weight: 700;
  }

  .modal__text {
    margin: 32px 0 26px;
    font-size: 17px;
  }

  .modal__label {
    width: 112px;
    height: 52px;

    &::before {
      width: 112px;
      height: 52px;
    }
  }
}
