.other-nav {
  @media (max-width: $mobile) {
    display: none;
  }

  @media (min-width: $tablet) {
    display: block;
    padding: 16px 52px 0 52px;
  }
}

.other-nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.other-nav__item {
  display: block;
}

.other-nav__link {
  color: #000000;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}

.other-nav__item:not(:last-child) {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.other-nav__item:last-of-type a {
  color: #444444;
  font-weight: 400;
}

@media (min-width: $tablet) {
  .other-nav__item:nth-child(3),
  .other-nav__item:nth-child(4) {
    display: none;
  }

  .other-nav__item:nth-child(2) {
    margin: 0 auto 0 37px;
  }
}

@media (min-width: $desktop) {
  .other-nav__item:nth-child(1),
  .other-nav__item:nth-child(2) {
    display: none;
  }

  .other-nav__item:nth-child(3),
  .other-nav__item:nth-child(4) {
    display: block;
  }

  .other-nav__item:nth-child(4) {
    margin: 0 auto 0 60px;
  }
}
