.page-footer {
  display: flex;
  justify-content: space-between;
  background: #f1f1f1;
}

.page-footer__line {
  height: 1px;
  width: calc(100% - 60px);
  margin: 0 30px;
  background-color: #ececec;
}

@media (max-width: $mobile) {
  .page-footer {
    flex-direction: column;
    min-height: 160px;
    padding: 30px 0 23px 0;
  }

  .page-footer__logo {
    display: none;
  }
}

@media (min-width: $tablet) {
  .page-footer {
    align-items: center;
    height: 143px;
    padding: 0 50px;
  }

  .page-footer__logo {
    &[href]:hover svg {
      fill: #46c1ae;
    }

    &[href]:active svg {
      opacity: 0.3;
      fill: #46c1ae;
    }
  }

  .page-footer__line {
    display: none;
  }
}
