.production-video {
  position: relative;
  width: 260px;
  height: 150px;
  margin: 0 auto;
  background-color: #e3e3e5;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: 260px auto;
  }
}

.production-video__svg {
  position: absolute;
  top: calc((100% - 76.891px) / 2);
  left: calc((100% - 100.678px) / 2);
  height: 76.891px;
  width: 100.678px;

  &:hover {
    transform: scale(1.2, 1.2);
  }

  &:active {
    opacity: 0.3;
    transform: scale(0.8, 0.8);
  }
}

@media (min-width: $tablet) {
  .production-video {
    width: 668px;
    height: 455px;
    background-image: url("../img/video-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
      background-size: 668px auto;
    }

    .production-video {
      order: 1;
    }
  }
}

@media (min-width: $desktop) {
  .production-video {
    width: 682px;
    height: 455px;
    margin: 0;
    background-image: url("../img/video-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
      background-size: 682px auto;
    }
  }
}
