.production-header {
  display: flex;
  align-items: center;
}

.production-header__svg {
  width: 32px;
  height: 32px;

  path {
    fill: #63d1bb;
  }
}

.production-header__title {
  margin: 0;
}

@media (max-width: $mobile) {
  .production-header {
    padding: 29px 0 26px 34px;
  }

  .production-header__svg {
    margin-right: 25px;
  }
}
