.reviews {
  padding: 0 30px;

  @media (min-width: $tablet) {
    min-height: 457px;
    padding: 0 50px;
    background: url(../img/review@1x.jpg) no-repeat #ffffff;
    background-position: left top;
  }

  @media (min-width: $desktop) {
    padding: 0 50px 0 175px;
    margin-left: 50px;
  }
}

.reviews__wrapper {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.reviews__header {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;

  @media (min-width: $tablet) {
    order: 1;
    margin: 86px 0 65px 0;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop) {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__list {
  @media (min-width: $tablet) {
    order: 3;
  }
}

.reviews__item {

  margin: 0;
  padding: 0;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.reviews__text {
  margin: 34px 0 40px 0;
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;

  @media (min-width: $tablet) {
    font-size: 17px;
  }
}

.reviews__author-name {
  box-sizing: border-box;
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  font-style: normal;
}

.reviews__user-name {
  color: #000000;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}

.reviews__arrow-wrapper {
  display: flex;
  height: 52px;
  margin-top: 34px;

  @media (min-width: $tablet) {
    justify-content: space-between;
    width: 137px;
    height: 26px;
    margin: 0;
  }
}

.reviews__prev,
.reviews__next {
  width: 50px;
  padding: 0;
  border: none;
  cursor: pointer;

  @media (max-width: $mobile) {
    border: 1px solid #ececec;
    width: calc(100% / 2);
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__prev {
  background: url("../img/icon-left-arrow.svg") no-repeat;
  background-position: center center;
}

.reviews__next {
  background: url("../img/icon-right-arrow.svg") no-repeat;
  background-position: center center;
}

.reviews__btn {
  margin: 38px 0 45px 0;

  @media (min-width: $tablet) {
    order: 2;
    width: 175px;
    margin-top: 79px;
  }
}
