.site-list {
  display: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.site-list__item-catalog,
.site-list__item-order,
.site-list__item-search,
.site-list__item-cart {
  display: flex;
  align-items: center;
  list-style: none;
}


.site-list__link {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  &:hover,
  &:focus {
    svg {
      opacity: 1;
      fill: #63d1bb;
    }

    span {
      opacity: 0.6;
      color: #000000;
    }
  }

  &:active {
    svg {
      opacity: 0.3;
      fill: #63d1bb;
    }

    span {
      opacity: 0.3;
      color: #000000;
    }
  }
}

.site-list__search-svg,
.site-list__cart-svg {
  opacity: 0.2;
}

@media (max-width: $mobile) {
  .site-list--show {
    display: flex;
    flex-direction: column;
  }

  .site-list__item-catalog,
  .site-list__item-order,
  .site-list__item-search,
  .site-list__item-cart {
    justify-content: flex-start;
    min-height: 79px;
    margin: 0;
    padding-left: calc(100% / 2 - 40px - 86px / 2);
    box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
  }

  .site-list__search-svg {
    margin-left: calc(-26px - 17.6px);
    margin-right: 26px;
  }

  .site-list__cart-svg {
    margin-left: calc(-25px - 20.294px);
    margin-right: 25px;
  }
}

@media (min-width: $tablet) and (max-width: $only-tablet) {
  .site-list {
    position: relative;
  }

  .site-list__item-catalog span,
  .site-list__item-order span {
    z-index: 3;
    font-size: 15px;
    line-height: 24px;
  }

  .site-list__item-catalog {
    position: absolute;
    top: 89px;
    left: 0;
    margin: 16px 0 0 0;
  }

  .site-list__item-order {
    position: absolute;
    top: 89px;
    left: 166px;
    margin: 16px 0 0 0;
  }
}

@media (min-width: $tablet) {
  .site-list {
    display: flex;
    flex-direction: row;
  }

  .site-list__item-catalog,
  .site-list__item-order,
  .site-list__item-search,
  .site-list__item-cart {
    justify-content: center;
  }

  .site-list__item-cart {
    padding-left: 32px;
  }

  .site-list__item-search {
    margin-left: auto;
    padding: 0 32px;
  }

  .site-list__item-search,
  .site-list__item-cart {
    min-height: 88px;
    border-left: 1px solid #d3d2d2;
  }

  .site-list__item-search span {
    display: none;
  }

  .site-list__cart-svg {
    @media (min-width: $tablet) {
      margin-right: 31px;
    }
  }
}

@media (min-width: $desktop) {
  .site-list__item-catalog,
  .site-list__item-order {
    display: flex;
  }

  .site-list__item-catalog {
    padding-right: 35px;
    border: none;
  }

  .site-list__item-order {
    margin-right: auto;
    padding-left: 35px;
  }
}
