.social {
  display: flex;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet) {
    margin: 8px 0 0 70px;
  }
}

.social__item {
  list-style-type: none;
}

.social__link {
  &:hover svg,
  &:focus svg {
    fill: #46c1ae;
  }

  &:active svg {
    fill: #46c1ae;
    opacity: 0.3;
  }
}
