.subsection {
  height: 103px;
}

.subsection__link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 30px 27px 30px 29px;
}

.subsection__title {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  line-height: calc(43px / 2);
}

.subsection__link svg[width="40.219px"] {
  margin-right: 9px;
}
