.contacts-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

.contacts-content__header {
  width: 100%;
  margin: 0;
  padding: 35px 0 26px 0;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.contacts-content__email-title {
  width: 30%;
}

.contacts-content__email {
  width: 70%;
  border-bottom: 1px solid #46c1ae;
  cursor: pointer;
  text-decoration: none;
  color: #444444;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: #46c1ae;
    opacity: 0.3;
  }
}

.contacts-content__address-title {
  width: 30%;
}

.contacts-content__address {
  width: 70%;
  font-style: normal;
}

@media (max-width: $mobile) {
  .contacts-content__address-title,
  .contacts-content__address {
    margin-top: 29px;
  }
}

@media (min-width: $tablet) {
  .contacts-content {
    padding: 0 50px;
    font-size: 17px;
  }

  .contacts-content__header {
    margin-right: auto;
    padding-bottom: 48px;
    background: url("../img/icon-flag.svg") no-repeat right 19px;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts-content__address-title {
    width: 78px;
  }

  .contacts-content__email-title {
    width: 78px;
  }

  .contacts-content__email {
    width: 206px;
    height: 30px;
    margin-right: 50px;
  }

  .contacts-content__address {
    width: 230px;
  }
}

@media (min-width: $desktop) {
  .contacts-content {
    align-self: flex-start;
    order: 1;
    max-width: 525px;
    padding: 0 0 0 174px;
  }

  .contacts-content__header {
    width: 462px;
    margin-left: -111px;
    padding: 69px 0px 50px 106px;
    background-position: left 61px;
    font-size: 53px;
    line-height: 57px;
  }

  .contacts-content__address-title,
  .contacts-content__address {
    margin-top: 29px;
  }
}
