.featured {
  display: flex;
  flex-direction: column;
  position: relative;
  background: url("../img/bg-zigzag-line.svg") repeat-x bottom center;
}

.featured__title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.featured__directory {
  color: #63d1bb;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.featured__price {
  display: block;
  margin: 22px 0;
  text-align: center;
  color: #444444;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

@media (max-width: $mobile) {
  .featured {
    padding: 28px 30px 44px 30px;
    background-size: auto 6px;
  }

  .featured__image {
    width: 100%;
    height: auto;
  }

  .featured__picture {
    width: 100%;
    margin-top: 28px;
  }
}

@media (min-width: $tablet) {
  .featured {
    flex-wrap: wrap;
    padding: 43px 50px 69px 50px;
    background-size: auto 17px;
  }

  .featured__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 1;
    width: 100%;
  }

  .featured__title {
    font-size: 43px;
    line-height: 52px;
  }

  .featured__directory {
    width: 100px;
    padding: 7px 25px 0 0;
    text-align: center;
    line-height: 17px;
  }

  .featured__image {
    width: 333px;
    height: 404px;
  }

  .featured__picture {
    position: absolute;
    top: 151px;
    align-self: flex-end;
    order: 5;
    width: 333px;
    height: 404px;
  }

  .featured__price {
    align-self: flex-start;
    order: 3;
    width: calc(50% - 43px);
    margin: 55px 0 34px 0;
    font-size: 20px;
  }

  .featured__btn {
    align-self: flex-start;
    order: 4;
    width: calc(50% - 43px);
  }
}

@media (min-width: $desktop) {
  .featured {
    position: relative;
    padding: 53px 50px 97px 50px;
    background-size: auto 23px;
  }

  .featured__header {
    position: absolute;
    left: 96px;
    top: 123px;
    z-index: 2;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .featured__title {
    margin-left: 24px;
    font-size: 53px;
    line-height: 57px;
  }

  .featured__image {
    width: 525px;
    height: 636px;
  }

  .featured__picture {
    top: 71px;
    left: 50%;
    z-index: 1;
    width: 525px;
    height: 636px;
  }

  .featured__price {
    width: calc(50% - 50px - 175px);
    margin: 108px 0 34px 171px;
  }

  .featured__btn {
    width: calc(50% - 50px - 183px);
    margin-left: 175px;
  }
}
