.form-contact {
  position: relative;
  margin-bottom: 31px;
  margin-top: -4px;
}

.form-contact__title {
  width: 10%;
  margin: 0 0 23px 0;
  color: #63d1bb;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.form-contact__input {
  width: 100%;
  height: 52px;
  margin-top: 4px;
  border: none;
  box-shadow: inset 0 -2px 0 #000000;
  color: #444444;
  font-size: 19px;
  font-weight: 400;
  line-height: 18px;

 &::placeholder {
    opacity: 0.3;
    color: #444444;
    font-size: 19px;
    font-weight: 400;
    line-height: 18px;
  }

  &:-ms-input-placeholder {
    opacity: 1;
    color: rgba(68, 68, 68, 0.3);
    font-size: 19px;
    font-weight: 400;
    line-height: 18px;
  }

  &:hover,
  &:active,
  &:focus {
    box-shadow: inset 0 -2px 0 #62d1ba;

    & + .form-contact__svg {
      fill: #62d1ba;
      opacity: 1;
    }
  }
}

.form-contact__svg {
  position: absolute;
  right: 8px;
  top: 35px;
  fill: #000000;
  opacity: 0.2;
}

@media (max-width: $mobile) {
  .form-contact__title {
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 8px;
      right: 0;
      width: calc(100% - 20px - 16%);
      height: 1px;
      background-color: #63d1bb;
    }
  }
}

@media (min-width: $tablet) {
  .form-contact {
    display: flex;
    margin: 0 -50px 0 -50px;
    padding: 50px 50px 20px 50px;
    background-color: #f1f1f1;
  }

  .form-contact__title {
    width: 25%;
    margin-top: 19px;
  }

  .form-contact__input {
    width: 75%;
    padding-left: 20px;
    background-color: #f1f1f1;
  }

  .form-contact__svg {
    top: 61px;
    right: 76px;
  }
}

@media (min-width: $desktop) {
  .form-contact {
    margin: 0 -50px 0 -111px;
    padding: 50px 50px 20px 111px;
  }

  .form-contact__title {
    width: 11%;
  }

  .form-contact__input {
    width: 71%;
    margin-top: 2px;
  }

  .form-contact__svg {
    right: 234px;
  }
}
