.form-full {
  position: relative;
  margin-bottom: 34px;
}

.form-full__title {
  width: 15%;
  margin: -2px 0 29px -1px;
  color: #63d1bb;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.form-full__label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 22px;
  cursor: pointer;
}

.form-full__text {
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
}

.form-full__input {
  width: 100%;
  height: 52px;
  border: none;
  box-shadow: inset 0 -2px 0 #000000;
  color: #444444;
  font-size: 19px;
  font-weight: 400;
  line-height: 18px;

  &::placeholder {
    opacity: 0.3;
    color: #444444;
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
  }

  &:-ms-input-placeholder {
    opacity: 1;
    color: rgba(68, 68, 68, 0.3);
    font-size: 19px;
    font-weight: 400;
    line-height: 18px;
  }

  &:hover,
  &:active,
  &:focus {
    box-shadow: inset 0 -2px 0 #62d1ba;
  }
}

@media (max-width: $mobile) {
  .form-full__title {
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 8px;
      right: 0;
      width: calc(100% - 20px - 15%);
      height: 1px;
      background-color: #63d1bb;
    }
  }
}

@media (min-width: $tablet) {
  .form-full {
    display: flex;
    margin: 0;
    padding: 50px 0 28px;
  }

  .form-full__title {
    width: 25%;
    margin-top: 16px;
  }

  .form-full__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
  }

  .form-full__label {
    display: flex;
    flex-direction: row;
  }

  .form-full__text {
    width: 20%;
    margin-top: 16px;
    font-size: 19px;
  }

  .form-full__text-name {
    width: 10%;
  }

  .form-full__input {
    width: 75%;
    padding-left: 17px;
    margin-left: 26px;

    &::placeholder {
      font-size: 19px;
    }
  }

  .form-full__input-name {
    width: 90%;
  }
}

@media (min-width: $desktop) {
  .form-full__title {
    width: 11%;
  }

  .form-full__wrapper {
    width: 72%;
    padding-left: 8px;
  }

  .form-full__text {
    width: 18%;
  }

  .form-full__input {
    width: 81%;
    margin: 0;
  }

  .form-full__text-name {
    width: 10%;
  }

  .form-full__input-name {
    width: 89%;
    margin: 0;
  }
}
