.form-type {
  position: relative;
  margin-bottom: 34px;
}

.form-type--wrapper {
  max-width: 922px;
  margin: 0 auto;
}

.form-type__title {
  width: 15%;
  margin: -3px 0 25px -1px;
  color: #63d1bb;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.form-type__label {
  display: flex;
  width: 100%;
  margin-bottom: 4px;
  padding-bottom: 10px;
  cursor: pointer;

  &:hover .form-type__text::before,
  &:focus .form-type__text::before {
    border: 2px solid #62d1ba;
  }

  &:active .form-type__text::before {
    border: 2px solid #444444;
    opacity: 0.3;
  }
}

.form-type__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked + .form-type__text::after {
    opacity: 1;
  }

  &:focus + .form-type__text::before {
    border: 2px solid #62d1ba;
  }
}

.form-type__text {
  position: relative;
  padding: 10px 0 0 62px;
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #444444;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #62d1ba;
    opacity: 0;
    transition: 0.2s;
  }
}

@media (max-width: $mobile) {
  .form-type__title {
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 8px;
      right: 0;
      width: calc(100% - 20px - 15%);
      height: 1px;
      background-color: #63d1bb;
    }
  }
}

@media (min-width: $tablet) {
  .form-type {
    display: flex;
    margin-bottom: 26px;
  }

  .form-type__title {
    padding-top: 19px;
    width: 25%;
  }

  .form-type__wrapper {
    width: 70%;
  }

  .form-type__label {
    margin-bottom: 22px;
    padding-bottom: 20px;
  }

  .form-type__text {
    padding: 16px 0 0 80px;
    font-size: 19px;

    &::before {
      height: 52px;
      width: 52px;
    }

    &::after {
      top: 15px;
      left: 15px;
      width: 22px;
      height: 22px;
    }
  }
}

@media (min-width: $desktop) {
  .form-type__title {
    width: 11%;
  }

  .form-type__wrapper {
    padding-left: 10px;
  }
}
