.process-production {
  border: 1px solid #ececec;
  background-color: #ffffff;
}

@media (max-width: $mobile) {
  .process-production--wrapper {
    margin: 0 30px 58px 30px;
  }
}

@media (min-width: $tablet) {
  .process-production {
    display: flex;
    flex-direction: column;
    margin: 0 50px 66px 50px;
  }
}

@media (min-width: $desktop) {
  .process-production {
    position: relative;
    flex-direction: row;
  }

  .process-production--wrapper {
    max-width: 1050px;
    margin: 57px auto 102px;
  }
}
