.production-header {
  display: flex;
  align-items: center;
}

.production-header__svg {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  fill: #63d1bb;
}

.production-header__title {
  margin: 0;
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

@media (max-width: $mobile) {
  .production-header {
    padding: 18px 0 0 33px;
    margin-bottom: 24px;
  }

  .production-header__svg {
    margin-right: 24px;
  }

  .production-header__title {
    padding-top: 3px;
  }
}

@media (min-width: $tablet) {
  .production-header {
    order: 2;
    padding: 33px 0 0 42px;
  }

  .production-header__svg {
    margin-right: 33px;
  }

  .production-header__title {
    font-size: 20px;
  }
}

@media (min-width: $desktop) {
  .production-header {
    position: absolute;
    top: 98px;
    right: 178px;
    flex-direction: column;
    align-items: flex-start;
    max-width: 160px;
    padding: 0;
  }

  .production-header__svg {
    margin: 0 0 21px 0;
  }
}
